<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Resoult-Javaloca</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
          <link rel="stylesheet" href="/css/tamplate_1.css">
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body>
    <header>
       <div class="container-fluid p-0">
        <%- include('../layouts/navbar.ejs'); %>
       </div>
    </header>

  <br>
  <h1 class="text-center">Confirmation-<%=data.jenis%></h1>

    <br>
    <br>
        <div class="col-md-12 bg-white border rounded"> 
          <div class="row" style="justify-content: center;">
            <div class="table-responsive-sm">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col"><%=data.jenis%></th>
                    <th scope="col">Asal</th>
                    <th scope="col">Tujuan</th>
                    <th scope="col">Tanggal</th>
                    <th scope="col">Waktu</th>
                    <th scope="col">Class</th>
                    <th scope="col">Kode</th>
                    <% if(data.jenis=="Pesawat"){ %>
                    <th scope="col">Bagasi</th>
                    <th scope="col">Type</th>
                      <%}%>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%=data.name%></td>
                    <td><%=data.dari%></td>
                    <td><%=data.tujuan%></td>
                    <td><%=data.tanggal%></td>
                    <td><%=data.waktu_from%>/<%=data.waktu_to%></td>
                    <td><%=data.kelas%></td>
                    <td><%=data.kode%></td>
                    <% if(data.jenis=="Pesawat"){ %>
                      <td><%=data.bagasi%></td>
                      <td><%=data.type%></td>
                      <%}%>
                  </tr>
                </tbody>
              </table>
            </div>
              <div class="d-flex flex-column bd-highlight p-3" style="justify-content: center;align-items: center;">
                <div class="p-2 bd-highlight " style="text-align: center;"><h4>Total IDR <%=data.harga%></h4></div>
                <div class="p-2 bd-highlight">
                  <a href="/transport/payment" class="btn btn-primary btn-lg" type="button" data-toggle="tooltip">Booking</a>
                </div>
              </div>
            
          </div>
        </div>
 

      
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>